
.prof{
  display:flex ;
  justify-content: center;
  text-align: center;
  background:#4b3263 ;
  color:#fff;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
}
.logo{
  border-radius: 15px;
}